---
const str = "Astro";
const num = 1;
const obj = {
  name: str,
  number: num,
  favourites: ["astro", "css", "js"],
};
const res = await fetch("https://jsonplaceholder.typicode.com/posts?_limit=5");
const data = await res.json();
const isVisible = false;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>{str}</h1>
    <h1>{num}</h1>
    <h1>{obj.favourites[1].toUpperCase()}</h1>
    {isVisible ? <h1>{obj.favourites[2]}</h1> : <h1>{obj.favourites[1]}</h1>}
    <ul>{obj.favourites.map((item) => <li>{item}</li>)}</ul>
    <!-- json data looped -->
    <ul>
      {data.map((item: { title: unknown }) => <li>{item.title}</li>)}
    </ul>
  </body>
</html>
